{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'cv/cv_item.css' %}">
{% endblock style %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <i class="bi bi-person-circle"></i>
                {{profile.full_name}}
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% if cv.avatar %}
                      
                    <li class="list-group-item">
                        <div class="avatar">
                            <img src="{{cv.avatar.url}}" alt="">
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <ul class="list-unstyled profile-info">
                            <li>
                                <b>Birth:</b> <span>{{ profile.date_birth|date:"d.m.Y" }}</span>
                            </li>
                            <li>
                                <b>Born:</b><span>{{ profile.birth_place }}</span>
                            </li>
                            <li>
                                <b>Live:</b> <span>{{ profile.residence_place }}</span>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>

        <div class="card mt-3">
            <div data-bs-toggle="collapse" data-bs-target="#contacts" class="card-header">
                <i class="bi bi-person-lines-fill"></i>
                Contacts
            </div>
            <ul class="list-group list-group-flush" id="contacts">
                {% for contact in profile.contacts.all %}
                <li class="list-group-item">{{ contact.type }}: {{ contact.data|urlize }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="card mt-3">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#langs">
                <i class="bi bi-translate"></i>
                Languages
            </div>
            <ul class="list-group list-group-flush" id="langs">
                {% for lang in profile.languages.all %}
                <li class="list-group-item hstack">
                    <div class="">{{ lang.name }}</div>
                    <div
                        class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill ms-auto">
                        {{ lang.level }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="bi bi-search"></i>
                Courses
            </div>
            <ul class="mt-2 mb-2 courses">
                {% for course in profile.courses.all %}
                <li class="mb-1">
                    <a class="icon-link icon-link-hover link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="{% url 'user:view_course' course.pk %}">
                        <i class="bi bi-link-45deg"></i>
                        {{ course.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <i class="bi bi-file-person"></i>
                About me:
            </div>
            <div class="card-body">
                {{ cv.info}}
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="bi bi-book"></i>
                Education
            </div>
            <table class="table">
                <tbody>
                    {% for edu in profile.education_set.all %}
                    <tr>
                        <td>
                            <span>{{ edu.degree }}</span><br>
                            <span class="text-secondary">{{edu.institution}}</span>
                        </td>
                        <td>{{ edu.speciality }}</td>
                        <td>
                            {{ edu.date_start|date:"d.m.Y" }} - {% if edu.date_end %}{{ edu.date_end|date:"d.m.Y" }}
                            {%else %}Current{% endif %}
                        </td>
                    </tr>

                    {% endfor %}
            </table>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="bi bi-building"></i>
                Employment
            </div>
            <div class="list-group list-group-flush">
                {% for emp in profile.employments.all %}

                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <h6 class="mb-1">{{ emp.company_name }}</h6>
                            <p class="mb-1 text-body-secondary">{{ emp.description }}</p>
                        </div>
                        <div style="text-align: right;">
                            <span
                                class="badge bg-primary-subtle border border-primary-subtle text-primary-emphasis rounded-pill">{{emp.date_start}}
                                - {% if emp.date_end %}
                                {{emp.date_end}} {% else %} current {% endif %}</span>
                            <br><span class="">{{ emp.position }}</span>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="bi bi-cpu"></i>
                Hard skills
            </div>

            <ul class="p-2 mb-0 skills">
                {% for skill in cv.hard_skills.all %}
                <li class="d-flex justify-content-between align-items-center mb-2">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ skill.name }}</div>
                        <span class="text-secondary">
                            {{ skill.description }}
                        </span>
                    </div>
                    <span class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill">
                        {{ skill.level }}/10</span>
                </li>
                {% endfor %}
            </ul>

            <div class="card-header soft">
                <i class="bi bi-emoji-smile"></i>
                Soft skills
            </div>

            <ul class="p-2 mb-0 skills">
                {% for skill in cv.soft_skills.all %}
                <li class="d-flex justify-content-between align-items-center mb-2">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ skill.name }}</div>
                        <span class="text-secondary">
                            {{ skill.description }}
                        </span>
                    </div>
                    <span class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill">
                        {{ skill.level }}/10</span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="bi bi-code-slash"></i>
                Projects
            </div>

            <ol class="list-group list-group-flush">
                {% for prj in profile.projects.all %}

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        {% if prj.link %}
                        <a href="{{prj.link}}" class="">
                            {{ prj.name }}
                        </a>
                        {% else %}
                        <div class="fw-bold">
                            {{ prj.name }}
                        </div>
                        {% endif %}
                        <p class="text-secondary">{{ prj.description }}</p>
                    </div>
                    {% if prj.source %}
                    <a href="{{prj.source}}" class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">
                        Source
                    </a>
                    {% else %}
                    <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
                        Private
                    </span>
                    {% endif %}
                </li>

                {% endfor %}
            </ol>

        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="bi bi-braces"></i>
                Additionally:
            </div>
            <div class="card-body">
                {{ cv.extra_info}}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock scripts %}