.profile-item {
    margin: 15px;
    padding: 15px;
    border: 1px solid #6c757d;
    border-radius: 5px;
}

.profile-item > h3 {
    border-bottom: 1px solid #6c757d;
    padding-bottom: 5px;
}

.lan, .contacts, .emp, .crs {
    margin-left: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.row > * {
    padding-left: 0;
    padding-right: 0;
}

.edu, .emp, .crs, .prj {
    margin-top: 1rem;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.prof {
    width: 50%;
}

.lan {
    width: 20%;
}

.contacts {
    width: 30%;
}

.empty {
    margin-top: 2rem;
}

.course > img {
    height: 150px;
    object-fit: cover;
}

.prj {
    width: 50%;
}