.alert-error {
    background-color: #842029;
}

.switcher {
    position: fixed;
    top: 15px;
    left: 10px;
}

.dynamic-form-item {
    border: 1px solid var(--bs-border-color);
    padding: 1rem;
    border-radius: 5px;
}