{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'user/edit_contacts.css' %}">
{% endblock style %}

{% block content %}

<h2 style="text-align: center;">Edit contacts</h2>

<form action="{% url 'user:edit_contacts' %}" class="contacts_form mb-5" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}
    {{form_set.management_form}}

    <div class="form_container" style="width: 50%;">
        {% for form in form_set %}

        <div class="contacts_group input-group mb-3">
            <span class="input-group-text">Type</span>
            {{form.type|add_class:"form-select"}}
            {{ form.type.errors }}

            {{form.data|add_class:"form-control"}}
            {{ form.data.errors }}

            {% if form.instance.pk %}
                {{form.DELETE}}
            {% endif %}

            {{form.id}}

        </div>

        {% endfor %}
    </div>

    <button value="submit" class="btn btn-success col-md-2 col-offset-5" type="submit">Save data</button>
    </div>

    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.contacts_group').formset({
                prefix: '{{ form_set.prefix }}',
                addText: 'Add one more contact',
                deleteText: 'X',
                deleteCssClass: 'input-group-text btn btn-outline-danger',
                addCssClass: 'btn btn-outline-info mb-2'
            });
        })
    </script>
    {% endblock scripts %}