{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'user/edit_courses.css' %}">
{% endblock style %}

{% block content %}

<h2 style="text-align: center;">Edit courses</h2>

<form action="{% url 'user:edit_courses' %}" class="contacts_form mb-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.non_field_errors}}
    {{form_set.management_form}}

    <div class="form_container" style="width: 50%;">
        {% for form in form_set %}

        <div class="contacts_group mb-5">
            {{form.name.label}}
            {{form.name|add_class:"form-control mb-2"}}
            {{ form.name.errors }}

            {{form.certificate.label}}
            {{form.certificate|add_class:"form-control"}}
            {{ form.certificate.errors }}

            {% if form.instance.pk %}
            {{form.DELETE}}
            {% endif %}

            {{form.id}}

        </div>

        {% endfor %}
    </div>

    <button value="submit" class="btn btn-light col-md-2 col-offset-5" type="submit">Save data</button>
    </div>

    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.contacts_group').formset({
                prefix: '{{ form_set.prefix }}',
                addText: 'Add more',
                deleteText: 'Delete',
                deleteCssClass: 'link-danger',
                addCssClass: 'btn btn-outline-info mb-2'
            });
        })
    </script>
    {% endblock scripts %}