{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
  <link rel="stylesheet" href="{% static 'user/edit_profile.css' %}">
{% endblock style %}

{% block content %}

{% if request.user.has_profile %}
  <h2 style="text-align: center;">Update profile</h2>
{% else %}
  <h2 style="text-align: center;">Create profile</h2>
{% endif %}

<div class="row profile">
  {% if request.user.has_profile %}
  <form action="{% url 'user:edit_profile' %}" method="post" class="mt-5 col-md-6 offset-md-3">
  {% else %}
  <form action="{% url 'user:create_profile' %}" method="post" class="mt-5 col-md-6 offset-md-3">
  {% endif %}
      {% csrf_token %}

      {{ profile_form.non_field_errors }}
      
      <div class="name form_part">
        <div class="name_part_set">
          <label for="last_name">Last name</label>
          {{ profile_form.last_name|add_class:"form-control name_part" }}
          <div class="invalid-feedback">{{ profile_form.last_name.errors }}</div>
        </div>
    
        <div class="name_part_set">
          <label for="first_name">First name</label>
          {{ profile_form.first_name|add_class:"form-control name_part" }}
          <div class="invalid-feedback">{{ profile_form.first_name.errors }}</div>
        </div>
    
        <div class="name_part_set">
          <label for="surname">Surname</label>
          {{ profile_form.surname|add_class:"form-control name_part" }}
          <div class="invalid-feedback">{{ profile_form.surname.errors }}</div>
        </div>
      </div>
  
      <div class="date_birth form_part input-group">
        <span class="input-group-text" id="basic-addon2">{{ profile_form.date_birth.label }}</span>
        {{ profile_form.date_birth|add_class:"form-control"}}
        <div class="invalid-feedback">{{ profile_form.date_birth.errors }}</div>
      </div>
  
      <div class="form_part place">
        <div class="place_part">
          <label for="birth_place">Born place</label>
          {{ profile_form.birth_place|add_class:"form-control"}}
          <div class="invalid-feedback">{{ profile_form.birth_place.errors }}</div>
        </div>
  
        <div class="place_part">
          <label for="residence_place">Residence place</label>
          {{ profile_form.residence_place|add_class:"form-control"|append_attr:"placeholder:Leave blank if same to born place"}}
          <div class="form-text">Leave blank if matches with born place.</div>
          <div class="invalid-feedback">{{ profile_form.residence_place.errors }}</div>
        </div>
      </div>
      
      <button value="submit" class="btn btn-light" type="submit">Save data</button>
    </form>

    <!-- <form action="" class="col-md-6 contact_form">
      <h4>Contacts</h4>
      <div class="contact_form_container">
        {% csrf_token %}
  
        {% for contact_form in contact_form_set %}
  
        <div class="contact_form_group mb-3">
          <div class="contact_form_item">
            <label class="form-label" for="type">Contact type</label>
            {{ contact_form.type|add_class:'form-select' }}
          </div>
    
          <div class="contact_form_item">
            <label class="form-label" for="type">Contact data</label>
            {{ contact_form.link|add_class:'form-control' }}
          </div>
        </div>
  
        {% endfor %}
      </div>
    </form> -->

</div>

{% endblock content %}
