{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'user/education.css' %}">
{% endblock style %}

{% block content %}

<h2 style="text-align: center;">Edit education</h2>

<form action="{% url 'user:edit_education' %}" class="mb-5" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}
    {{form_set.management_form}}

    <div class="form_container">
        {% for form in form_set %}

        <div class="edu mb-5" style="width: 60%;">
            <!-- institution field -->
            {{ form.institution.label }}
            {{ form.institution|add_class:"form-control mb-2" }}
            {{ form.institution.errors }}

            <div class="input-group mb-2">
                <!-- degree field -->
                <span class="input-group-text">Degree</span>
                {{ form.degree|add_class:"form-control" }}
                {{ form.degree.errors }}
    
                <!-- speciality field -->
                <span class="input-group-text">Field</span>
                {{ form.speciality|add_class:"form-control" }}
                {{ form.speciality.errors }}
            </div>

            <div class="input-group">
                <!-- date_start field -->
                <span class="input-group-text">Begin</span>
                {{ form.date_start|add_class:"form-control" }}
                {{ form.date_start.errors }}
    
                <!-- date_end field -->
                <span class="input-group-text">Ended</span>
                {{ form.date_end|add_class:"form-control" }}
                {{ form.date_end.errors }}
            </div>

            {% if form.instance.pk %}
            {{form.DELETE|add_class:"form-check-input"}}
            {% endif %}


            {{form.id}}

        </div>

        {% endfor %}
    </div>

    <button value="submit" class="edu_btn btn btn-light" type="submit">Save data</button>
    </div>

    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.edu').formset({
                prefix: '{{ form_set.prefix }}',
                addText: 'Add more',
                deleteText: 'Delete',
                deleteCssClass: 'link-danger',
                addCssClass: 'btn btn-outline-info mb-2'
            });
        })
    </script>
    {% endblock scripts %}