{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'user/employment.css' %}">
{% endblock style %}

{% block content %}

<h2 style="text-align: center;">Edit employment</h2>

<form action="{% url 'user:edit_employment' %}" class="mb-5" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}
    {{form_set.management_form}}

    <div class="form_container row">
        {% for form in form_set %}

        <div class="edu mb-5 col-md-8 offset-md-2">
            <!-- company_name field -->
            {{ form.company_name.label }}
            {{ form.company_name|add_class:"form-control mb-2" }}
            {{ form.company_name.errors }}

            <!-- position field -->
            {{ form.position.label }}
            {{ form.position|add_class:"form-control mb-2" }}
            {{ form.position.errors }}

            <!-- description field -->
            {{ form.description.label }}
            {{ form.description|add_class:"form-control mb-2" }}
            {{ form.description.errors }}
            
            <div class="edu_group">
                <!-- date_start field -->
                <div class="edu_item">
                    {{ form.date_start.label }}
                    {{ form.date_start|add_class:"form-control mb-2" }}
                    {{ form.date_start.errors }}
                </div>
    
                <!-- date_end field -->
                <div class="edu_item">
                    {{ form.date_end.label }}
                    {{ form.date_end|add_class:"form-control mb-2" }}
                    {{ form.date_end.errors }}
                </div>
            </div>
            
            {{form.DELETE|add_class:"form-check-input"}}
            {{form.DELETE.label}}

            {{form.id}}

            <hr>
        </div>

        {% endfor %}
    </div>

    <button value="submit" class="edu_btn btn btn-light" type="submit">Save data</button>
    </div>

    {% endblock content %}