{% extends "layout/base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'user/profile.css' %}">
{% endblock style %}

{% block content %}

{% if request.user.has_profile %}
<div class="row">
      <div class="card text-bg-light mb-3 col-md-5">
        <div class="card-header">Profile</div>
        <div class="card-body">
          <h5 class="card-title">{{ request.user.profile.full_name }}</h5>

          <p class="card-text"><b>Born date: </b>{{ request.user.profile.date_birth }}</p>
          <p class="card-text"><b>Born at: </b>{{ request.user.profile.birth_place }}</p>
          <p class="card-text"><b>Live in: </b>{{ request.user.profile.residence_place }}</p>

          <a class="btn btn-outline-secondary" href="{% url 'user:edit_profile' %}" role="button">Edit profile data</a>
        </div>
      </div>
</div>

<div class="row">
  <div class="card col-md-3">
    <div class="card-body">
      <h5 class="card-title">Contacts:</h5>
    </div>
    <ul class="list-group list-group-flush ">
      {% for contact in contacts %}
          <li class="list-group-item"><b>{{contact.type}}: </b>{{contact.link}}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
      <a class="btn btn-outline-secondary" href="{% url 'user:edit_contacts' %}" role="button">Edit contacts</a>
    </div>
  </div>


  <div class="edu card card border-info col-md-7">
    <div class="card-header">Education history</div>
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Institution</th>
          <th scope="col">Speciality</th>
          <th scope="col">Degree</th>
          <th scope="col">Date begin</th>
          <th scope="col">Date end</th>
        </tr>
      </thead>

      <tbody>
        {% for edu in education_set %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ edu.institution }}</td>
          <td>{{ edu.speciality }}</td>
          <td>{{ edu.degree }}</td>
          <td>{{ edu.date_start }}</td>
          {% if edu.date_end %}
            <td>{{ edu.date_end }}</td>   
          {% else %}
          <td>Current</td>
          {% endif %}
        </tr>
          
        {% endfor %}
    </table>
    </div>
  </div>

{% else %}
    <div>
        <h2>Youre havent profile yet.</h2>
        <a class="btn btn-primary" href="{% url 'user:create_profile' %}" role="button">Create profile</a>
    </div>
{% endif %}

{% endblock content %}