.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profile-info li {
    margin-bottom: 5px;
}

.skills li::before {
    content: 'ã€‰';
}

.soft {
    border-top: 1px solid var(--bs-border-color);
}

.courses {
    list-style-type: none;
    padding-left: 1rem;
}