{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" href="{% static 'language/languages.css' %}">
{% endblock style %}

{% block content %}

<h2 style="text-align: center;">Edit languages</h2>

<form action="{% url 'user:language:edit_languages' %}" class="mb-5" method="post">
    {% csrf_token %}
    {{form_set.non_field_errors}}
    {{form_set.management_form}}

    <div class="form_container" style="width: 50%;">
        {% for form in form_set %}

        <div class="lang_group mb-3 input-group">
            <!-- name field -->
                <span class="input-group-text" id="inputGroup-sizing-sm">Language</span>
                {{ form.name|add_class:"form-control" }}
            {{ form.name.errors }}

            <!-- level field -->
                <span class="input-group-text" id="inputGroup-sizing-sm">Level</span>
                {{ form.level|add_class:"form-control" }}
            {{ form.level.errors }}

            {% if form.instance.pk %}
            {{form.DELETE}}
            {% endif %}

            {{form.id}}

        </div>

        {% endfor %}
        <button value="submit" class="edu_btn btn btn-light" type="submit">Save data</button>
    </div>

    </div>

    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.lang_group').formset({
                prefix: '{{ form_set.prefix }}',
                deleteText: 'X',
                deleteCssClass: 'input-group-text btn btn-outline-danger',
            });
        })
    </script>
    {% endblock scripts %}