.content {
    margin-top: 20px;
}

.form_control {
    margin-top: 15px;
}

.name, .place {
    display: flex;
    justify-content: space-between;
}

.name_part_set:not(:last-child), .place_part:not(:last-child) {
    margin-right: 10px;
}

.form_part {
    margin-top: 15px;
}

.btn-light {
    margin-top: 15px;
}

.place_part {
    width: 50%;
}

.invalid-feedback {
    display: block;
}

.contact_form {
    display: flex;
    justify-content: space-between;
}

.contact_form_item {
    width: 300px;
}